<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/myProject.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/410506d815.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: #e3e7eb; margin: 0px; padding: 0px; font-family: 'Roboto', sans-serif;">

    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5" style="background-color: #f4f3f3;">
        <div class="container-fluid">
            <a class="navbar-brand ms-2" href="#">
                <img src="/assets/image/dumbways.png" style="height: 50px;" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active fw-semibold" aria-current="page" href="/">Home</a>
                    </li>
                    {{#if isLogin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/addproject">Add Project</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonials">Testimonials</a>
                    </li>
                </ul>
                <div class="d-flex justify-content-end">
                    <ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
                        {{#unless isLogin}}
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        {{/unless}}
                    </ul>
                    <button class="btn btn-outline-dark me-2" onclick="location.href=`/contact`"
                        style="background-color: #111727; color: white; margin-left:20px;">
                        Contact Me
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <section class="body-container">
        <div class="mx-4 bg-white">
            <div class="container text-center">
                <div class="py-5 px-5">
                    <div class="row d-flex flex-md-row flex-column">
                        <div class="col">
                            <h4 class="text-start" style="font-weight: bold;">Hi Welcome to my hut</h4><br>
                            <p style="text-align: justify;">Hello, I am a dedicated and enthusiastic fullstack
                                developer
                                with a
                                strong
                                educational
                                background in Computer Science. My passion for coding drives me to create innovative
                                and efficient solutions for various web projects.</p><br>
                            <div class="d-flex flex-row">
                                <button class="btn btn-outline-dark" onclick="location.href=`/contact`"
                                    style="background-color: #111727; color: white; margin-right: 13px;">
                                    Contact Me
                                </button>
                                <span id="downloadCV" class="py-2">
                                    <a style="margin-right: 5px;">download CV</a>
                                    <a href="/assets/file/CV.pdf" style="color: black;"><i
                                            class="fa-solid fa-download"></i></a><br>
                                </span>
                            </div>

                            <br><br>
                            <div class="middle" style="text-align: left; font-size: 36px; margin-bottom: 0%;">
                                <span>
                                    <a href="https://www.linkedin.com/in/filza-elang-buana-2a321a164/"
                                        style="margin-right: 10px; color: black;"><i
                                            class="fa-brands fa-linkedin"></i></a>
                                    <a href="https://www.instagram.com/filzaelangbuana/"
                                        style="margin-right: 10px; color: black;"><i
                                            class="fa-brands fa-square-instagram"></i></a>
                                    <a href="https://www.facebook.com/filza.elangbuana/"
                                        style="color: black; margin-right: 10px;"><i
                                            class="fa-brands fa-square-facebook"></i></a>
                                    <a href="#" style="margin-right: 10px; color: black;"><i
                                            class="fa-brands fa-square-twitter"></i></a>
                                </span>
                            </div>
                            <br><br>
                        </div>
                        <div class="col">
                            <div class="div-card bg-white">
                                <div>
                                    <img src="/assets/image/PP.jpg"
                                        style="width: 100%; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                                </div>
                                <div style="text-align: center; margin-top: 5px; margin-bottom: 5px;"> <!-- title -->
                                    <a style="font-size: 24; font-weight: bold;">Filza Elang Buana</a> <br>
                                    <a style="font-size: 18;">Fullstack Developer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section><br><br>

    <section>
        <div id="contents" class="project-list bg-white py-5 px-3">
            <h1 class="text-center pb-5">MY PROJECT</h1>
            <div class="d-flex flex-wrap" id="card-content">
                {{#each data}}
                <div class="card project-card">
                    <img src="/assets/image/{{this.image}}" id="img" class="object-fit-cover" alt="..."
                        style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">
                            <a href="/project-detail/{{this.id}}"
                                style="text-decoration: none; color:black">{{this.name}}</a>
                        </h5>
                        <p class="card-text">durasi : {{this.duration}}</p>
                        <p class="card-text">{{this.description}}</p>
                        <p style="font-size: large; font-weight: bold;">
                            {{#if this.reactJs}}
                            <span><i class="fa-brands fa-react"></i></span>
                            {{/if}}
                            {{#if this.nextJs}}
                            <span><i class="fa-brands fa-square-js"></i></i></span>
                            {{/if}}
                            {{#if this.nodeJs}}
                            <span><i class="fa-brands fa-node-js"></i></span>
                            {{else if this.typeScript}}
                            <span><i class="fa-brands fa-node-js"></i></span>
                            {{/if}}
                        </p>

                        {{#if isLogin}}
                        <div class="d-flex justify-content-between">
                            <div style="width: 90%; margin-right: 5%;">
                                <button class="btn btn-outline-dark" onclick="location.href=`/projectNew/{{this.id}}`"
                                    style="background-color: #111727; color: white; width: 100%;">
                                    edit
                                </button>
                            </div>
                            <form method="post" action="/delete-project/{{this.id}}"
                                style="width: 90%; margin-left: 5%;">
                                <button class="btn btn-outline-dark"
                                    style="background-color: #111727; color: white; width: 100%;">
                                    delete
                                </button>
                            </form>
                        </div>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>